<aside class="rail">
  <svg class="rail__logo" viewBox="44 68 250 40" fill="none" xmlns="http://www.w3.org/2000/svg">__LOGO__</svg>
  <div style="margin-top:18px;font-size:11px;font-weight:700;letter-spacing:.14em;text-transform:uppercase;color:var(--dim)">DSC Labs</div>
  <nav>
    <ul class="rail__nav" style="margin-top:38px">
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-grid"/></svg>Club Workspace</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-sliders"/></svg>Configuration</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-coin"/></svg>Token Manager</a></li>
    </ul>
  </nav>
  <div class="rail__foot">
    <div class="rail__rule"></div>
    <a class="rail__out" href="#"><svg viewBox="0 0 24 24"><use href="#i-out"/></svg>Logout</a>
  </div>
</aside>
