<aside class="rail rail--dense">
  <svg class="rail__logo" viewBox="44 68 250 40" fill="none" xmlns="http://www.w3.org/2000/svg">__LOGO__</svg>
  <nav>
    <ul class="rail__nav">
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-grid"/></svg>Dashboard</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-flag"/></svg>Club Proposals</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-bulb"/></svg>Ideas</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-doc"/></svg>Proposals</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-hold"/></svg>Veto Holds</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-check"/></svg>Results &amp; Actions</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-cal"/></svg>Matches</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-mic"/></svg>Backchat</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-chart"/></svg>Analytics</a></li>
      <li><a class="rail__item" href="#"><svg viewBox="0 0 24 24"><use href="#i-gear"/></svg>Settings</a></li>
    </ul>
  </nav>
  <div class="rail__foot">
    <div class="rail__rule"></div>
    <a class="rail__out" href="#"><svg viewBox="0 0 24 24"><use href="#i-out"/></svg>Logout</a>
  </div>
</aside>
